<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
</head>


<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in toDoList">{{"筆數"+index+item}}</li>
        </ul>
        <select>
            <option v-for="item in dueDate" :value="item.prop">{{item.todo}}</option>
        </select>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                toDoList: [
                    'Vue2',
                    'Bootstrap4',
                    'SVG',
                    'UI'
                ],
                //採用陣列物件 確保順序與data資料依樣
                dueDate: [
                    { prop: '2017/10/3', todo: 'Vue2' },
                    { prop: '2017/7/3', todo: 'Bootstrap4' },
                    { prop: '2017/11/16', todo: 'SVG' },
                    { prop: '2016/5/15', todo: 'UI' },
                ]
            }
        });

    </script>
</body>

</html>