<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
</head>

<style>
    .message {
        white-space: pre;
    }
</style>

<body>
    <div id="app">
        <input type="radio" value="male" id="male" v-model="gender">
        <label for="male">Male</label>
        <input type="radio" value="female" id="female" v-model="gender">
        <label for="female">Female</label>
        {{gender}}
    </div>
    <script>    
        new Vue({
            el: "#app",
            data: {
                gender: 'male'
            }
        });

    </script>
</body>

</html>